html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article
, aside
, details
, figcaption
, figure
, footer
, header
, hgroup
, menue
, menu
, nav
, section
, summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e1e1e1 url(../Images/footer-background.jpg); }

div, span, body, input, label, header, textarea, a, ul, li, h1, h2, h3, dl, dd, dt, section, article, nav, menu, fieldset {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

header {
  overflow: hidden;
  border-top: 5px solid black; }

.navbar {
  padding: 6px 1.04167% 6px 1.04167%;
  overflow: hidden;
  background-color: #999999; }

.titlebar {
  display: block;
  clear: left;
  border-top: solid 1px #ef9608;
  padding: 6px 1.04167% 6px 1.04167%;
  background: #e1e1e1 url(../Images/header-background.jpg); }

.breadcrumb {
  display: block;
  float: left;
  width: 35px;
  height: 25px;
  overflow: hidden;
  background-image: url(../Images/header-icon-home.png);
  text-indent: 100%; }

h1 {
  margin: 3px 0 0 40px;
  padding: 0;
  font-size: 16pt;
  font-weight: 400;
  letter-spacing: -1px; }

#content {
  padding: 12px 0 0 0;
  background-color: #ffffff;
  overflow: hidden; }

.report {
  clear: both;
  margin: 0 1.06383% 12px 1.06383%;
  padding: 12px 0 0 0;
  border: solid 1px #afafaf;
  overflow: hidden;
  background: url(../Images/report-background.png) 0 0 repeat-x;
  -webkit-box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  -moz-box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3); }

.report h2 {
  font-size: 12pt;
  letter-spacing: -.2px;
  color: #191919;
  font-size: 14pt;
  clear: both;
  display: inline;
  float: left;
  margin: 0 0 12px 1.06383%;
  overflow: hidden;
  line-height: 24px; }
  @media only screen and (min-width: 768px) {
    .report h2 {
      margin: 0 0 12px 34.04255%; } }

.report menu {
  float: left;
  margin: 0 0 0 6px;
  padding: 0;
  line-height: 24px;
  font-size: 12pt;
  letter-spacing: -.2px;
  color: #191919; }

.report .edit-report:link,
.report .edit-report:visited,
.report .remove-report:link,
.report .remove-report:visited,
.report .new-entry:link,
.report .new-entry:visited {
  font-size: 12pt;
  letter-spacing: -.2px;
  color: #191919;
  color: #746abe;
  margin: 0 3px 0 0; }

.report .edit-report:hover,
.report .remove-report:hover,
.report .new-entry:hover {
  color: #170692; }

.report .disabled:link,
.report .disabled:visited,
.report .disabled:hover {
  color: #afafaf; }

.report dl {
  clear: both;
  overflow: auto; }

.report dt {
  font-size: 10pt;
  letter-spacing: -.2px;
  color: #191919;
  font-weight: bold;
  margin: 0 0 0 1.06383%;
  padding: 0 0 3px 0;
  clear: both; }
  @media only screen and (min-width: 768px) {
    .report dt {
      float: left;
      width: 30.85106%;
      margin: 0 0 12px 1.06383%;
      padding: 5px 0 0 0;
      text-align: right; } }

.report dd {
  font-size: 10pt;
  letter-spacing: 0;
  color: #191919;
  margin: 0 0 0 1.06383%;
  padding: 0 0 12px 0; }
  @media only screen and (min-width: 768px) {
    .report dd {
      float: left;
      width: 64.89362%;
      margin: 0 0 0 2.12766%;
      padding: 5px 0 0 0; } }

.notification-confirm {
  display: block;
  margin: 0 1.04167% 12px 1.04167%;
  -webkit-box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  -moz-box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  border: solid 1px #99d099;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 1.06383% 12px 1.06383%;
  background: #eeffee;
  font-size: 12pt;
  letter-spacing: -.2px;
  color: #191919;
  color: #008a00; }

.notification-confirm-icon {
  background: url(../Images/notification-confirm-background.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 1.06383%; }

.notification-warning {
  display: block;
  margin: 0 1.04167% 12px 1.04167%;
  -webkit-box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  -moz-box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  border: solid 1px #c00000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 1.06383% 12px 1.06383%;
  background: #ffeeee;
  font-size: 12pt;
  letter-spacing: -.2px;
  color: #191919;
  color: #660000; }

.notification-warning-icon {
  background: url(../Images/notification-warning-background.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 1.04167%; }

.editor {
  clear: both;
  margin: 0 1.04167% 12px 1.04167%;
  padding: 12px 0 0 0;
  -webkit-box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  -moz-box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  border: solid 1px #ef9608;
  background-color: #f5c06b; }

.editor-controlset {
  clear: both;
  margin: 0 0 12px 0;
  border-top: solid 1px #f2ac3b;
  padding-top: 12px; }

.editor-controlset:first-child {
  border-top: 0; }

.editor-title {
  width: 100%;
  margin: 0 1.06383% 12px 1.06383%;
  border: 0;
  font-size: 12pt;
  letter-spacing: -.2px;
  color: #191919;
  font-size: 14pt;
  line-height: 24px; }
  @media only screen and (min-width: 768px) {
    .editor-title {
      margin: 12px 0 12px 34.04255%; } }

.editor-label {
  display: inline;
  width: auto;
  margin: 0 1.06383% 0 1.06383%;
  padding: 0 0 3px 0;
  font-size: 10pt;
  letter-spacing: -.2px;
  color: #191919;
  font-weight: bold;
  font-size: 10pt;
  float: left; }
  @media only screen and (min-width: 768px) {
    .editor-label {
      width: 29.78723%;
      margin: 0 0 12px 1.06383%;
      padding: 5px 0 0 0;
      clear: both; } }
  @media only screen and (min-width: 960px) {
    .editor-label {
      margin: 0 0 12px 1.06383%;
      clear: left;
      text-align: right; } }

.editor-optreq {
  font-size: 8pt;
  letter-spacing: -.2px;
  color: #191919;
  color: #660000; }
  @media only screen and (min-width: 768px) {
    .editor-optreq {
      clear: left;
      display: block; } }

.editor-text {
  width: 97.91667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 1.06383% 0 1.06383%;
  padding: 3px;
  display: block;
  font-size: 10pt; }
  @media only screen and (min-width: 768px) {
    .editor-text {
      float: right;
      width: 64.89362%;
      margin: 0 1.06383% 12px 0; } }
  @media only screen and (min-width: 960px) {
    .editor-text {
      width: 31.91489%;
      float: left;
      margin: 0 0 12px 2.12766%; } }

.editor-inputtext input {
  width: 97.91667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 1.06383% 0 1.06383%;
  padding: 3px;
  display: block;
  font-size: 10pt;
  border: solid 1px #cccccc;
  clear: both; }
  @media only screen and (min-width: 768px) {
    .editor-inputtext input {
      float: right;
      width: 64.89362%;
      margin: 0 1.06383% 12px 0;
      clear: none; } }
  @media only screen and (min-width: 960px) {
    .editor-inputtext input {
      width: 31.91489%;
      float: left;
      margin: 0 0 12px 2.12766%; } }

.editor-input-checkbox-wrapper,
.editor-input-radio-wrapper,
.editor-input-dateofbirth-wrapper {
  margin: 6px 0 0 1.06383%;
  margin: 12px 0 0 1.06383%;
  border: 0;
  padding: 0;
  display: block; }
  @media only screen and (min-width: 768px) {
    .editor-input-checkbox-wrapper,
    .editor-input-radio-wrapper,
    .editor-input-dateofbirth-wrapper {
      width: 64.89362%;
      float: right;
      margin: 0 1.06383% 12px 0;
      text-align: left; } }
  @media only screen and (min-width: 960px) {
    .editor-input-checkbox-wrapper,
    .editor-input-radio-wrapper,
    .editor-input-dateofbirth-wrapper {
      width: 31.91489%;
      float: left;
      margin: 0 0 12px 2.12766%; } }

.editor-controlset select {
  width: 97.91667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 1.06383% 0 1.06383%;
  padding: 3px;
  display: block;
  font-size: 10pt;
  border: solid 1px #cccccc; }
  @media only screen and (min-width: 768px) {
    .editor-controlset select {
      float: right;
      width: 64.89362%;
      margin: 0 1.06383% 12px 0; } }
  @media only screen and (min-width: 960px) {
    .editor-controlset select {
      width: 31.91489%;
      float: left;
      margin: 0 0 12px 2.12766%; } }

.editor-controlset select option {
  color: #170692; }

.editor-input-dayofbirth,
.editor-input-monthofbirth,
.editor-input-yearofbirth {
  width: 31px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.26596% 0 0;
  padding: 3px;
  display: block;
  font-size: 10pt;
  border: solid 1px #cccccc;
  float: left; }

.editor-input-checkbox-wrapper span,
.editor-input-radio-wrapper span,
.editor-input-dateofbirth-wrapper span {
  display: block;
  float: left;
  margin: 6px 3px 0 3px; }

.editor-input-yearofbirth {
  width: 50px; }

.editor-label-errorwrapper {
  margin: 0 1.06383% 6px 1.06383%;
  width: 97.91667%;
  background: url(../Images/error-fieldindicator-pointdown.png) 5px bottom no-repeat;
  padding: 0 0 8px 0; }
  @media only screen and (min-width: 768px) {
    .editor-label-errorwrapper {
      float: right;
      width: 64.89362%;
      margin: 0 1.06383% 6px 0; } }
  @media only screen and (min-width: 960px) {
    .editor-label-errorwrapper {
      margin: 0 1.06383% 12px 0;
      width: 31.91489%;
      background: url(../Images/error-fieldindicator-pointleft.png) left 6px no-repeat;
      padding: 0 0 0 8px; } }

.editor-label-error {
  display: block;
  padding: 6px 6px 6px 28px;
  background: url(../Images/error-background.png) 6px 6px no-repeat;
  background-color: #c00000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12pt;
  letter-spacing: -.2px;
  color: #191919;
  color: #FFFFFF;
  font-size: 10pt; }

.editor-label-hoverhelp {
  margin: 0 1.06383% 6px 0;
  padding: 0 0 8px 0;
  display: inline; }
  @media only screen and (min-width: 768px) {
    .editor-label-hoverhelp {
      margin: 0; } }
  @media only screen and (min-width: 960px) {
    .editor-label-hoverhelp {
      float: right;
      width: 16px;
      margin: 0 31.91489% 0 0; } }

.editor-label-hoverhelp:hover {
  width: 31.91489%;
  margin: 0 1.06383% 6px 0; }

.editor-label-hoverhelp .editor-label-hoverhelp-icon {
  background: url("../Images/help-hoverhelp-icon.png") no-repeat;
  display: inline-block;
  width: 16px;
  height: 20px;
  cursor: help;
  margin: 0 0 0 3px; }

.editor-label-hoverhelp .editor-label-help-wrapper {
  display: none; }

.editor-label-hoverhelp:hover .editor-label-help-wrapper {
  display: block; }
  @media only screen and (min-width: 768px) {
    .editor-label-hoverhelp:hover .editor-label-help-wrapper {
      padding-left: 3%;
      width: 67.8%;
      background: url(../Images/help-fieldindicator-pointdown.png) 30px bottom no-repeat; } }
  @media only screen and (min-width: 960px) {
    .editor-label-hoverhelp:hover .editor-label-help-wrapper {
      width: 100%;
      margin: 0;
      padding: 0 0 0 8px;
      background: url(../Images/help-fieldindicator-pointleft.png) left 6px no-repeat; } }

.editor-label-hoverhelp:hover .editor-label-hoverhelp-icon {
  display: none; }

.editor-label-help-wrapper {
  margin: 0 1.06383% 6px 1.06383%;
  width: 97.91667%;
  background: url(../Images/help-fieldindicator-pointdown.png) 5px bottom no-repeat;
  padding: 0 0 8px 0; }
  @media only screen and (min-width: 768px) {
    .editor-label-help-wrapper {
      float: right;
      width: 64.89362%;
      margin: 0 1.06383% 6px 0; } }
  @media only screen and (min-width: 960px) {
    .editor-label-help-wrapper {
      margin: 0 1.06383% 12px 0;
      width: 31.91489%;
      background: url(../Images/help-fieldindicator-pointleft.png) left 6px no-repeat;
      padding: 0 0 0 8px; } }

.editor-label-help {
  display: block;
  padding: 6px 6px 6px 28px;
  background: url(../Images/help-background.png) 6px 6px no-repeat;
  background-color: #ef9608;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12pt;
  letter-spacing: -.2px;
  color: #191919;
  color: #FFFFFF;
  font-size: 10pt; }

.hidden {
  display: none; }

.editor-input-error {
  border: 1px solid #c00000; }

.editor-input-error[type=checkbox] {
  outline: 1px solid #c00000; }

.editor-input-error[type=radio] {
  border: 0; }

.editor-input-required {
  border: 1px solid #ef9608; }

.editor-input-required[type=checkbox] {
  outline: 1px solid #ef9608; }

.editor-input-required[type=radio] {
  border: 0; }

.editor-input-focus {
  border: 1px solid #170692; }

.editor-input-focus[type=checkbox] {
  outline: 1px solid #170692; }

.editor-input-focus[type=radio] {
  border: 0; }

.save-edits {
  margin: 0 1.06383% 12px 1.06383%;
  float: left;
  color: #ffffff;
  border: 1px solid #746abe;
  padding: 5px;
  letter-spacing: -.6px;
  text-shadow: 1px 1px 0px rgba(23, 6, 146, 0.5);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  background-color: #170692;
  /* Old browsers */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#746abe), to(#170692));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #746abe, #170692);
  /* Chrome10+,Safari5.1+ */
  background-image: -moz-linear-gradient(top, #746abe, #170692);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #746abe, #170692);
  /* IE10+ */
  background-image: -o-linear-gradient(top, #746abe, #170692);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #746abe 20%, #170692 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#746ABE', endColorstr='#170692',GradientType=0 );
  /* IE6-9 */ }
  @media only screen and (min-width: 768px) {
    .save-edits {
      margin: 0 1.06383% 12px 34.04255%; } }

.save-edits:hover,
.save-edits:focus {
  background-color: #170692;
  background-image: none; }

.save-edits:active {
  background: #170692;
  background-color: #170692;
  background-image: none; }

.cancel-edits {
  color: #191919;
  border: 1px solid #999999;
  padding: 5px;
  letter-spacing: -.6px;
  text-shadow: 1px 1px 0px rgba(200, 200, 200, 0.5);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  background-color: #E1E1E1;
  /* Old browsers */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#e1e1e1), to(#746abe));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #e1e1e1, #afafaf);
  /* Chrome10+,Safari5.1+ */
  background-image: -moz-linear-gradient(top, #e1e1e1, #afafaf);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #e1e1e1, #afafaf);
  /* IE10+ */
  background-image: -o-linear-gradient(top, #e1e1e1, #afafaf);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #e1e1e1 20%, #afafaf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1E1E1', endColorstr='#AFAFAF',GradientType=0 );
  /* IE6-9 */ }

.cancel-edits:hover,
.cancel-edits:focus {
  background-color: #afafaf;
  background-image: none; }

.cancel-edits:active {
  background-color: #afafaf;
  background-image: none; }

.report-wrapper .report {
  border-top: 0;
  background: none;
  padding: 12px 0 0 0;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.report-wrapper .report h2 {
  font-size: 12pt;
  margin-bottom: 3px; }

.report-wrapper .report:first-child {
  border: solid 1px #afafaf;
  padding-bottom: 12px; }

.report-wrapper .report:first-child h2 {
  font-size: 14pt; }

.report-wrapper {
  -webkit-box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  -moz-box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  box-shadow: 0px 3px 2px 2px rgba(200, 200, 200, 0.3);
  margin: 0 1.04167% 12px 1.04167%;
  background: url(../Images/report-background.png) 0 0 repeat-x; }

.report-wrapper .editor {
  margin: 0; }

/* ---------- PAGE NAVIGATION ---------- */
.pagenavigation-title {
  clear: both;
  margin: 0 1.04167% 12px 1.04167%;
  font-size: 12pt;
  letter-spacing: -.2px;
  color: #191919;
  font-size: 14pt; }

.pagenavigation ul {
  clear: both;
  list-style-type: none;
  margin: 0 0 12px 0;
  padding: 0;
  overflow: auto; }

.pagenavigation li {
  display: block;
  list-style-type: none;
  margin: 0 1.06383% 12px 1.06383%;
  float: left;
  word-wrap: break-word; }

.pagenavigation li.add-employee,
.pagenavigation li.view-employees {
  background-color: #afafaf; }

.pagenavigation li.configure-titles {
  background-color: #e1e1e1; }

.pagenavigation li a:link,
.pagenavigation li a:visited {
  display: block;
  width: 120px;
  height: 100px;
  padding: 12px 8.3% 0 8.3%;
  text-decoration: none;
  font-size: 12pt;
  letter-spacing: -.2px;
  color: #191919; }

.pagenavigation li:hover {
  background-color: #746abe; }

.pagenavigation li:hover a:link,
.pagenavigation li:hover a:visited {
  color: #FFFFFF; }

/* TABLES */
.statictable {
  border-spacing: 3px 0px !important;
  border-collapse: separate;
  width: 97.91667%;
  margin: 0 1.04167% 12px 1.04167%;
  font-size: 10pt; }

.statictable tr th {
  border-bottom: solid 5px #f5c06b;
  text-align: left;
  padding: 3px;
  font-weight: bold; }

.statictable tbody td {
  border-bottom: solid 1px #e1e1e1;
  padding: 3px; }

.statictable tbody tr:hover {
  background-color: #746abe;
  cursor: pointer;
  color: #ffffff; }

/* ---------- FOOTER ---------- */
footer {
  border-top: solid 1px #ef9608;
  padding: 12px 1.04167% 12px 1.04167%;
  font-size: 10pt;
  letter-spacing: .2px;
  color: #191919; }

