<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>GeoNow App</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <script>var baseUrl = '@Url.Content("~/")';</script>

    <script src="~/Static/js/library/require-js/require.js"></script>
    <script src="~/Static/js/app/Infrastructure/dependency_config.js"></script>
    <!--App initialise-->
    <script>
        require([baseUrl + 'Static/js/app/init.js'], function () { });
    </script>
</head>
<body>
    <div class="container">
        <h1>GeoNow</h1>
        <section id="app-content">
            Loading... 
        </section>
    </div>

</body>
</html>
