<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>GeoNow App</title>
    
</head>
<body>
    <div class="container">
        <h1>GeoNow</h1>
        <section id="app-content">
            Loading... 
        </section>
    </div>
    <script>
        if (window.prompt) {
            var username = window.prompt("Enter your username");
            alert(username);
        } else {
            alert("no prompt");
        }
        
    </script>
</body>
</html>