<?xml version="1.0" encoding="UTF-8" ?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
    <item 
		android:id="@+id/feed_menu_item"
      	android:title="@string/feed_menu_item"
      	android:showAsAction="never" />
	<item 	
		android:id="@+id/people_menu_item"
  		android:title="@string/people_menu_item"
  		android:showAsAction="never" />
	<item 	
		android:id="@+id/profile_menu_item"
  		android:title="@string/profile_menu_item"
  		android:showAsAction="never" />
  	<item
        android:id="@+id/simulation_menu_item"
        android:showAsAction="never"
        android:title="Simulation"/>
	<item
        android:id="@+id/settings_menu_item"
        android:orderInCategory="100"
        android:showAsAction="never"
        android:title="@string/action_settings"/>

</menu>